blanco = #ffffff
casi-negro = #333333

.show-crash-cont
	background-color blanco
	box-shadow 5px 5px 20px rgba(0, 0, 0, .1)
	padding 20px 15px
	h2
		border-bottom 1px solid rgba(casi-negro,0.5)
		margin-bottom 25px
		text-align center
		span
			background-color blanco
			font-size 0.6em
			padding 0 5px
			position relative 
			top 12px 
			left 0px
	h3
		font-size 2em
		margin 0 0 20px 0
	p 
		span				
			&:nth-child(2)
				color red 
			&:nth-child(1)
				font-size 1.1em
				font-weight 400 